@inherits UmbracoViewPage<ContactViewModel>
@using PJDu8.Models

<div id="form-outer">
    @using (Ajax.BeginForm("SubmitForm", "Contact", new AjaxOptions()
    {
        UpdateTargetId = "form-result",
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "contactForm.showResult",
        OnFailure = "contactForm.showResult"
    }, new { id = "contact-form" }))
    {
        <form action="#" method="post">
            <div style="padding-bottom:5px;">
                @Html.TextBoxFor(m => m.Name, new { placeholder = "Your Name" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div style="padding-bottom:5px;">
                @Html.TextBoxFor(m => m.Email, new { placeholder = "Your Email Address" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <div style="padding-bottom:10px;">
                @Html.TextAreaFor(m => m.Message, new { placeholder = "Your Message", rows = "4", autocomplete="off", cols="12"})
                @Html.ValidationMessageFor(m => m.Message)
            </div>
            <div style="text-align:center;">
                <input type="submit" name="Submit" value="Submit" />
            </div>
        </form>
    }
</div>
<div id="form-result">
</div>