@inherits UmbracoViewPage
<section class="wrapper">
    <div class="inner">
        <div class="highlights">
            <section>
                <div class="content">
                    <header>
                        <i class="icon @Umbraco.AssignedContentItem.Value("highlightsOneIcon") hvr-bob"></i>
                        <h3>@Umbraco.AssignedContentItem.Value("highlightsOneHeader")</h3>
                    </header>
                    <p>@Umbraco.AssignedContentItem.Value("highlightsOneText")
                </div>
            </section>
            <section>
                <div class="content">
                    <header>
                        <i class="icon @Umbraco.AssignedContentItem.Value("highlightsTwoIcon") hvr-bob"></i>
                        <h3>@Umbraco.AssignedContentItem.Value("highlightsTwoHeader")</h3>
                    </header>
                    @Umbraco.AssignedContentItem.Value("highlightsTwoText")
                </div>
            </section>
            <section>
                <div class="content">
                    <header>
                        <i class="icon @Umbraco.AssignedContentItem.Value("highlightsThreeIcon") hvr-bob"></i>
                        <h3>@Umbraco.AssignedContentItem.Value("highlightsThreeHeader")</h3>
                    </header>
                    @Umbraco.AssignedContentItem.Value("highlightsThreeText")
                </div>
            </section>
        </div>
    </div>
</section>