@inherits UmbracoViewPage
<section class="wrapper">
    <div class="inner">
        <header class="special">
            <h2>@Umbraco.AssignedContentItem.Value("highlightsHeader", defaultValue: "No Content Found")</h2>
            @Umbraco.AssignedContentItem.Value("highlightsSubText", defaultValue: "No Content Found")
        </header>
        <div class="highlights">
            <section>
                <div class="content">
                    <header>
                        <i class="icon @Umbraco.AssignedContentItem.Value("highlightsOneIcon",defaultValue:"No Content Found") hvr-bob"></i>
                        <h3>@Umbraco.AssignedContentItem.Value("highlightsOneHeader", defaultValue: "No Content Found")</h3>
                    </header>
                    @Umbraco.AssignedContentItem.Value("highlightsOneText", defaultValue: "No Content Found")
                </div>
            </section>
            <section>
                <div class="content">
                    <header>
                        <i class="icon @Umbraco.AssignedContentItem.Value("highlightsTwoIcon",defaultValue:"No Content Found") hvr-bob"></i>
                        <h3>@Umbraco.AssignedContentItem.Value("highlightsTwoHeader", defaultValue: "No Content Found")</h3>
                    </header>
                    @Umbraco.AssignedContentItem.Value("highlightsTwoText", defaultValue: "No Content Found")
                </div>
            </section>
            <section>
                <div class="content">
                    <header>
                        <i class="icon @Umbraco.AssignedContentItem.Value("highlightsThreeIcon",defaultValue:"No Content Found") hvr-bob"></i>
                        <h3>@Umbraco.AssignedContentItem.Value("highlightsThreeHeader", defaultValue: "No Content Found")</h3>
                    </header>
                    @Umbraco.AssignedContentItem.Value("highlightsThreeText", defaultValue: "No Content Found")
                </div>
            </section>
        </div>
    </div>
</section>