@inherits UmbracoViewPage
       
<section class="wrapper">
    <div class="inner">
        <header class="special">
            <h2>@Umbraco.AssignedContentItem.Value("highlightsHeader")</h2>
            <p>@Umbraco.AssignedContentItem.Value("highlightsSubText")</p>
        </header>
        <div class="highlights">
            <section>
                <div class="content">
                    <header>
                        <a href="#" class="icon @Umbraco.AssignedContentItem.Value("highlightsOneIcon")"><span class="label">Icon</span></a>
                        <h3>@Umbraco.AssignedContentItem.Value("highlightsOneHeader")</h3>
                    </header>
                    <p>@Umbraco.AssignedContentItem.Value("highlightsOneText")</p>
                </div>
            </section>
            <section>
                <div class="content">
                    <header>
                        <a href="#" class="icon @Umbraco.AssignedContentItem.Value("highlightsTwoIcon")"><span class="label">Icon</span></a>
                        <h3>@Umbraco.AssignedContentItem.Value("highlightsTwoHeader")</h3>
                    </header>
                    <p>@Umbraco.AssignedContentItem.Value("highlightsTwoText")</p>
                </div>
            </section>
            <section>
                <div class="content">
                    <header>
                        <a href="#" class="icon @Umbraco.AssignedContentItem.Value("highlightsThreeIcon")"><span class="label">Icon</span></a>
                        <h3>@Umbraco.AssignedContentItem.Value("highlightsThreeHeader")</h3>
                    </header>
                    <p>@Umbraco.AssignedContentItem.Value("highlightsThreeText")</p>
                </div>
            </section>
        </div>
    </div>
</section>