@inherits  UmbracoViewPage<IPublishedContent>
@using Umbraco.Web.Models

@{
    IEnumerable<Link> footerLinks = Umbraco.AssignedContentItem.Value<IEnumerable<Link>>("footerLinks", fallback: Fallback.ToAncestors);
}
<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <div class="content">
            <section id="contactarea">
                <h4 style="text-align:center">@Umbraco.AssignedContentItem.Value("contactHeader", fallback: Fallback.ToAncestors)</h4>
                <hr />
                <div id="contact-form-container" style="width:80%;margin:0 auto;">
                    @{ Html.RenderAction("RenderForm", "Contact"); }
                </div>
            </section>
            <section></section>
            <section>
                <h4 style="text-align:center">@Umbraco.AssignedContentItem.Value("footerLinkTitle", fallback: Fallback.ToAncestors)</h4>
                <hr />
                @{
                    if (footerLinks.Any())
                    {
                        <ul class="plain" style="text-align: center;">
                            @foreach (var link in footerLinks)
                            {
                                var className = link.Name;
                                if (className.Contains("Email"))
                                {
                                    className = "envelope-o";
                                }
                                else if (className.Contains("Course"))
                                {
                                    className = "graduation-cap";
                                }
                                <li class="hvr-bounce-in" style="display:block !important;"><i class="icon fa fa-fw fa-@className.ToLower()"></i><a href="@link.Url" target="@link.Target">@link.Name</a></li>
                            }
                        </ul>
                    }
                }
            </section>
        </div>
    </div>
    <hr />
    <div class="outer">
        <div class="copyright" style="border:none;padding:0px;">
            <div style="font-size:16px;color:white;">@Umbraco.AssignedContentItem.Value("footerCopyrightText", fallback: Fallback.ToAncestors)</div>
        </div>
    </div>
</footer>