@inherits  UmbracoViewPage
    
<footer id="footer">
    <div class="inner">
        <div class="content">
            <section>
                <h4 style="text-align:center">Copyright</h4>
                <div class="copyright">
                    @Umbraco.AssignedContentItem.Value("footerCopyrightText", fallback: Fallback.ToAncestors)
                 <p style="font-size:7px;">@Umbraco.AssignedContentItem.Value("pageStylingCredit",fallback: Fallback.ToAncestors)</p>
                </div>
            </section>
            <section>
                <h4>Networks</h4>
                <ul class="plain">
                    <li><a target="_blank" href="@Umbraco.AssignedContentItem.Value("link1URL",fallback: Fallback.ToAncestors)"><i class="icon @Umbraco.AssignedContentItem.Value("link1Icon",fallback: Fallback.ToAncestors)"></i>@Umbraco.AssignedContentItem.Value("link1Text",fallback: Fallback.ToAncestors)</a></li>
                    <li><a target="_blank" href="@Umbraco.AssignedContentItem.Value("link2URL",fallback: Fallback.ToAncestors)"><i class="icon @Umbraco.AssignedContentItem.Value("link2Icon",fallback: Fallback.ToAncestors)"></i>@Umbraco.AssignedContentItem.Value("link2Text",fallback: Fallback.ToAncestors)</a></li>
                    <li><a target="_blank" href="@Umbraco.AssignedContentItem.Value("link3URL",fallback: Fallback.ToAncestors)"><i class="icon @Umbraco.AssignedContentItem.Value("link3Icon",fallback: Fallback.ToAncestors)"></i>@Umbraco.AssignedContentItem.Value("link3Text",fallback: Fallback.ToAncestors)</a></li>
                </ul>
            </section>
        </div>
    </div>
</footer>