@inherits Umbraco.Web.Mvc.UmbracoViewPage<List<NavigationListItem>>
@using PJDu8.Web.Models

<header id="header">
    <a class="logo" href="/"><i class="icon fa-fw @Umbraco.AssignedContentItem.Value("homeIconPicker", fallback: Fallback.ToAncestors)"></i></a>
    <div style="text-align:center;">
        <a href="#"><i id="contact-button" class="icon @Umbraco.AssignedContentItem.Value("contactIconPicker", fallback: Fallback.ToAncestors)" style="font-size:26px;color:white;padding-right:15px;padding-top:15px;"></i></a>
    </div>
    <nav>
        <a style="font-size: 26px;" href="#menu"></a>
    </nav>
</header>
<nav id="menu" role="navigation">
    <h3>Navigation</h3>
    <ul class="links">
        @RenderChildItems(Model)
    </ul>
    <hr />
</nav>
@helper RenderChildItems(List<NavigationListItem> listItems)
{
    if (listItems != null)
    {
        foreach (var item in listItems)
        {
            <li>
                @if (!String.IsNullOrEmpty(item.Text))
                {
                    @item.Text
                }
                else if (item.Link != null)
                {
                    <a href="@item.Link.Url" class="@(Umbraco.AssignedContentItem.Url == item.Link.Url ? "active" : null) @(item.HasChildren ? "hasChildren" : null)" target="@item.Link.Target">@item.Link.Text</a>
                }

                @if (item.HasChildren)
                {
                    <ol style="list-style:disc !important" id="childItems">
                        @RenderChildItems(item.Items)
                    </ol>
                }
            </li>
        }
    }
}