@inherits Umbraco.Web.Mvc.UmbracoViewPage<List<NavigationListItem>>
@using PJDu8.Web.Models

<header id="header">
    <a class="logo" href="/"><i class="icon fa-fw @Umbraco.AssignedContentItem.Value("homeIconPicker", fallback: Fallback.ToAncestors)"></i> @Umbraco.AssignedContentItem.Value("homeIconTextSiteTite", fallback: Fallback.ToAncestors)</a>
    <div style="text-align:center;">
        <i id="contact-button" class="icon hvr-bounce-in @Umbraco.AssignedContentItem.Value("contactIconPicker", fallback: Fallback.ToAncestors)" style="font-size:30px;color:white;"></i>
    </div>
    <nav>
        <a style="font-size: 20px;" href="#menu">Menu</a>
    </nav>
</header>
<nav id="menu" role="navigation">
    <ul class="links">
        @RenderChildItems(Model)
    </ul>
    <hr />
</nav>


@helper RenderChildItems(List<NavigationListItem> listItems)
{
    if (listItems != null)
    {
        foreach (var item in listItems)
        {
            <li>
                @if (!String.IsNullOrEmpty(item.Text))
                {
                    @item.Text
                }
                else if (item.Link != null)
                {
                    <a href="@item.Link.Url" class="@(Umbraco.AssignedContentItem.Url == item.Link.Url ? "active" : null) @(item.HasChildren ? "hasChildren" : null)" target="@item.Link.Target">@item.Link.Text</a>
                }

                @if (item.HasChildren)
                {
                    <ol style="list-style:disc !important" id="childItems">
                        @RenderChildItems(item.Items)
                    </ol>
                }
            </li>
        }
    }
}