@inherits UmbracoViewPage

<title>@Umbraco.AssignedContentItem.Value("pageTabName", defaultValue: "PJD | Junior Developer")</title>
<!-- Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta name="description" content="@Umbraco.AssignedContentItem.Value("siteDescription", fallback: Fallback.ToAncestors)" />
<meta name="keywords" content="@Umbraco.AssignedContentItem.Value("siteKeywords", fallback: Fallback.ToAncestors)" />
<meta name="robots" content="@Umbraco.AssignedContentItem.Value("canIndex", defaultValue: ("canIndex"))">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="revisit-after" content="@Umbraco.AssignedContentItem.Value("siteCrawlFrequency", fallback: Fallback.ToAncestors)">
<meta name="copyright" content="@Umbraco.AssignedContentItem.Value("copyrightOwner", fallback: Fallback.ToAncestors)" />
<meta name="author" content="@Umbraco.AssignedContentItem.Value("siteAuthorTag", fallback: Fallback.ToAncestors)">
<!-- Styles and Favicon -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover.css" />
<link rel="stylesheet" href="/assets/css/main.css" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">